.frontmiddle{
    margin-top: 30px;
 
    height: 400px;
    display: flex;

}
.middle-common{
    flex: 2 1 auto;

    margin: 10px;

}
.middle-common:first-child{
    width: 60%;
    margin-right: 60px;
}

.middle-left-heading{
    margin: 20px 10px;
    text-align: center;
    font-size: 30px;


}
.middle-left-heading h4{
    color: blue;
    margin-top: 20px;
}
.middle-left-desc{
    padding: 10px;
    /* margin: 20px; */
    width: 60%;
    margin: auto;
   
}
.middle-left-desc h4{
    margin: 25px ;
    font-size: 20px;
    text-align: center;
    width: 260px;
    border-bottom: 3px solid rgba(107, 114, 96, 0.6);
    border-right: 7px solid rgba(107, 114, 96, 0.6);
    border-left:7px solid rgba(107, 114, 96, 0.6);
}


.middle-right{
    margin-right: 40px;
}
.middle-right img{
   height: 100%;
   width: 100%;
   
   border-radius: 10px;
   box-shadow:
   inset 0 -3em 3em rgba(148, 221, 14, 0.1),
         0 0  0 2px rgb(227, 183, 183),
         0.3em 0.3em 1em rgba(207, 152, 13, 0.3);
   
}